.project {
  background-color: rgba(35, 35, 35, 0.8); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    color: #fff; 
    border: 1px solid #444; 
    border-radius: 8px; 
    margin: 10px; 
    flex: 0 1 calc(33% - 20px); 
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 700px; 
    height : auto;
    align-items:center;
    box-sizing: border-box; 

  }
  
  .cardBody {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .title, .description {
    margin: 5px 0;
  }
  
  .project img {
    min-width: 90%;
    height: auto;
    object-fit: cover;
    margin : 0, auto;
    display:block;
    max-height: 500px; 
  }

  
  .highlightProjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding: 10px;
  }
  
  .project:hover {
    box-shadow: 0 0 30px white; 
  }
  
  .project button{
    font-weight:bold;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #151515; 
  }

  .highlightwrapper button {
    font-weight:bold;
    color: #fff;
    border: none;
    padding: 20px 40px;
    margin-top: 40px;
    cursor: pointer;
    border-radius: 5px;
    font-size:2em;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #151515; 
  }
  
  .project button:hover , .highlightwrapper button:hover{
    background-color: #555;
  
  }
  
  .project h1{
    font-size : 600%;
    font-family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
  
  @media screen and (max-width: 1024px) {
    .project {
      flex-basis: 70%; 
      margin: 10px;
      max-width: 80%; /* Changed to 100% to prevent overflow but still ensure responsiveness */
      
    }
  }
  
  @media screen and (max-width: 768px) {
    .project {
      flex-basis: 70%; 
      margin: 10px 0; 
      max-width: 80%; /* Changed to 100% to prevent overflow but still ensure responsiveness */
    }
  }
  
  